<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a href="/accounts">Accounts</a></li>
  <li role="presentation"><a href="/transactions">Transactions</a></li>
  <li role="presentation" class="active"><a href="/reports">Reports</a></li>
</ul>
