<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a href="/accounts">Accounts</a></li>
  <li role="presentation" class="active"><a href="/transactions">Transactions</a></li>
  <li role="presentation"><a href="/reports">Reports</a></li>
</ul>
<div class="content" style="padding: 3%;">
  <div class="row">
    <button type="button" class="btn btn-success">Add</button>
    <button type="button" class="btn btn-success">Add Last</button>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Happy Meal</td>
      <td>$40.0</td>
      <td>Food</td>
      <td>
      <button type="button" class="btn btn-default btn-sm btn-danger">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Movie Ticket</td>
      <td>$80.0</td>
      <td>Entretainment</td>
      <td>
      <button type="button" class="btn btn-default btn-sm btn-danger">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>

  </tbody>
</table>
